.navbar {
  width: 100%;
  margin: 0 0 3% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--pink);
}

.brandlogo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 2rem;
  color: #fff;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navbar ul li a {
  margin-right: 2rem;
  font-weight: 500;
  color: #fff;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 3%;
}

.intro {
  box-sizing: border-box;
  padding: 2%;
  width: 27%;
  margin-right: 5%;
  border: 3px solid black;
  box-shadow: 10px 10px 0 var(--pink);
}

.intro a:hover {
  color: var(--blue);
  transition: color 0.25s;
}

.intro p {
  line-height: 1.5;
}

.intro p:first-of-type {
  margin-bottom: 4%;
}
